**Created by Gael AHOUANVOEDO**

**üöÄ Twitter Database üìä Udacicty Data Analyst NanoDegree üìà**

**16 June 2022**

# **<center><span style="color:#fd7b12;">üöÄ TWITTER DATABASE üöÄ   </span></center>**
## <center>For more information you can contact me at +221781203911üëç</center>

# **<span style="color:#fd7b12;">Table of Contents  </span>**
<a id="toc"></a>
- [1. Introduction](#1)
- [2. Imports](#2)
- [3. Gathering](#3)
- [4. Assessing](#4)
- [5. Cleaning](#5)
- [6. Storing](#6)
- [7. Data Visualisation](#7)

<a id="1"></a>
# **<center><span style="color:#fd7b12;">Introduction  </span></center>**

### **In this project, I have to manipulate data from the WeRateDogs Twitter account to create interesting and reliable analyzes and visualizations.**

<a href="#toc" role="button" aria-pressed="true" >‚¨ÜÔ∏èBack to Table of Contents ‚¨ÜÔ∏è</a>

<a id="2"></a>
# **<center><span style="color:#fd7b12;">Imports  </span></center>**

In [1]:
import pandas as pd
import numpy as np
import requests as req
import tweepy
import json
import matplotlib.pyplot as plt
import requests
import seaborn as sns

<a href="#toc" role="button" aria-pressed="true" >‚¨ÜÔ∏èBack to Table of Contents ‚¨ÜÔ∏è</a>

<a id="3"></a>
# **<center><span style="color:#fd7b12;">Gathering </span></center>**

### Read twitter archive enhanced dataframe with pandas

In [2]:
df_enhanced = pd.read_csv("twitter-archive-enhanced.csv")
df_enhanced.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None

### Read image predictions file with requetes library

In [3]:
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"

response = requests.get(url)

with open("image_predictions.tsv", mode = "wb") as file:
    file.write(response.content)

In [4]:
df_predict = pd.read_csv("image_predictions.tsv", sep='\t')
df_predict.head(3)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True

### Load Twitter API data with the json file

In [5]:
with open('tweet_json.txt') as f:
    df_api = pd.DataFrame((json.loads(line) for line in f), columns = ['id', 'favorite_count', 'retweet_count'])

df_api.columns = ['tweet_id', 'favorites', 'retweets']
df_api.set_index('tweet_id', inplace = True)
df_api.head()

                    favorites  retweets
tweet_id
892420643555336193      39467      8853
892177421306343426      33819      6514
891815181378084864      25461      4328
891689557279858688      42908      8964
891327558926688256      41048      9774

### All dataframes are successfully gather

<a href="#toc" role="button" aria-pressed="true" >‚¨ÜÔ∏èBack to Table of Contents ‚¨ÜÔ∏è</a>